@{   
    Layout = "~/Views/Shared/_Login.cshtml";
}
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="md-float-material form-material">

                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="text-center">
                                <img src="~/UploadFiles/Common/Logo.png" class="img-fluid text-center" />                               
                            </div>
                            <br />
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h4 class="text-left text-uppercase">Password Reset</h4>
                                </div>
                            </div>
                            <form method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="ResetPassword">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="password" id="Password" name="Password" class="form-control" placeholder="New Password" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="password" id="Password" name="Password" class="form-control" placeholder=" Conform Password" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Reset" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" />
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-6 col-6 text-left">
                                    <a href="@Url.Action("Index", "Login")">Back to Login</a>
                                </div>
                                <div class="col-sm-6 col-6 text-right ">
                                    <a href="@Url.Action("PasswordRecovery", "Login")">Forget Password</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>