@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
        /* ==================================================
      Stats Styling
    ================================================== */
        .stats-row {
            margin-top: 65px;
        }

        .stats-col .circle {
            display: inline-block;
            width: 160px;
            height: 160px;
            font-family: "Raleway", Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #666;
            border: 6px solid #199EB8;
            border-radius: 50%;
            padding: 55px 25px 0 25px;
            position: relative;
        }

            .stats-col .circle .stats-no {
                color: #fff;
                width: 70px;
                height: 70px;
                line-height: 70px;
                top: -25px;
                right: -15px;
                font-family: "Raleway", Helvetica, Arial, sans-serif;
                font-size: 18px;
                background-color: #E04F00;
                position: absolute;
                border-radius: 50%;
                font-weight: 700;
            }

        /* ==================================================
      Parallax Styling
      ================================================== */
</style>


<div class="card layout">
    <div class=" card-header">
        <h2>About Us</h2>
    </div>
    <div class="card-block">
        <div class="about" id="about">            

            <p style="margin-top:20px;">
                Deals in  real estate Market in  multi city , well set-up real estate consultancy "Narmada GROUP"   Founded by Mohit Thakur in 2010. With our unique ideas and passion for connecting people with properties , We aspire to provide the ultimate real estate experience for today's modern consumer.
            </p>
            <p>
                We are not confined by traditional real estate boundaries when it comes to buying, Selling, Renting or asset management, Heans we are always finding new and innovative ways to satisfy our client's need and be at the forefront of the global properties market. Serving people with quality deals and trusted service for more than 9 years.
            </p>
                <div class="row stats-row">
                    <div class="stats-col text-center col-md-3 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">4,980</span> Satisfied Customers
                        </div>
                    </div>

                    <div class="stats-col text-center col-md-3 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">1,600</span> Homes Sale
                        </div>
                    </div>

                    <div class="stats-col text-center col-md-3 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">1,863</span> Plots Sale
                        </div>
                    </div>

                    <div class="stats-col text-center col-md-3 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">8,480</span> Homes on Rent
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-12">
                        <h2>Why choose us?</h2>
                        <p>Narmada Group has an excellent reputation in the market and in the communities we serve. We are active, involved and connected. Our team lives in the communities we serve, giving us an additional motivation in making transactions happen. Our team members’ involvement with numerous organizations and local government helps us generate more leads, price more accurately, negotiate with greater leverage, and simply put, gives our clients an advantage.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/UploadFiles/why-us.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-6 text-left">
                        <br />
                        <h4><span class="icofont icofont-aids" style="color:darkcyan"></span> Provide best property deal</h4>
                        <p>We introduced new concepts in the sector which makes our properties the best available re Energy Efficiency and still at a very competitive price. We try and give clients the best we can, irrespective from their budget. Our product is our advert. Best Deal Properties offers all of its properties in a finished state.</p>
                        <br />

                        <h4><span class="icofont icofont-baby-trolley" style="color:darkcyan"></span> Best Amenities</h4>
                        <p>Our main goal is to provide the best amenities of homes,and also inssure that the construction of homes is done with desire parameter, We self visit on sites. We give our customers ample choice of finishing to choose from. All tiling, bathrooms, internal doors and even furniture packages can be chosen by the clients themselves so that each property is tailored-made according to the clients’ taste.</p>
                        <br />
                        <h4><span class="icofont icofont-beach" style="color:darkcyan"></span>Long term relationship</h4>
                        <p>We belive on long term relationship with our customers, so try to provide best services and take care of our customers, listen there problem and short out it. Our vision for the company is to make it grow and maximise our market share by targeting more than one segment of the market. We want our brand to stand out from our competition by offering our customers an augmented product while keeping prices affordable.</p>
                        <br />
                    </div>
                </div>
           
        </div>
    </div>
</div>



