@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card layout">
                <div class="card-block">
                    @*<div class="row" style=" background-color:azure; padding:10px; margin:5px;">
                        <div class="col-md-12 col-12">
                            <h3>Thanks !</h3>
                        </div>                       
                    </div>*@
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-6" style="margin-bottom:20px;">
                            <h1>Dear Guest</h1>
                            <h3>We have get your query successfully !</h3>
                            <h3>Our Executive will you call you shortly</h3>
                        </div> 
                        <div class="col-md-6" style="margin-bottom:20px;">
                            <img src="~/UploadFiles/thanks.jpg" class="img-fluid" />
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>

